
html{
    background-image: url("or.avif");
    background-repeat: no-repeat;
}
#form{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 10px;
    border: none;
    background: linear-gradient(145deg, #f0f0f0, #fafafa);
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}
#btn{
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #dadada,
    inset -20px -20px 60px #ffffff;
}

#reponse{
    display: flex;
    justify-content: center;
}
#reponse p{
    display: flex;
    align-self: center;
    margin-top: 5%;
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
    background: none;
    border-radius: 10px;
    font-family: Georgia, serif;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.div1 { grid-area: 2 / 2 / 5 / 5; }
.div2 {
    grid-area: 2 / 3 / 5 / 4;
    display: flex;
    justify-content: center;
}
.div3 { grid-area: 1 / 1 / 2 / 6; }
.div4 { grid-area: 2 / 1 / 5 / 2; }
.div5 { grid-area: 2 / 5 / 5 / 6; }
.div6 { grid-area: 5 / 1 / 7 / 6; }